__pycache__/
*.py[cod]
venv/
.env
db.sqlite3
node_modules/
backend/frontend/static/frontend/main.js
backend/frontend/static/cesium
.DS_Store

# UV ignore
pyproject.toml
.python-version
.venv/
uv.lock
